/* General */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Cabecera */
.cabecera {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    margin: 20px;
}

/* Menú de navegación */
.menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: grey;
    padding: 10px;
    border-radius: 15px;
    margin: 0 20px 20px 20px;
}

.menu a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    
    border-radius: 10px;
}

/* Contenedor */
.contenedor {
    display: flex;
    justify-content: space-between;
    margin: 40px;
    gap: 20px;
}

/* Contenido principal */
.contenido-principal {
    flex: 1;
    height: 400px;
    background-color: white;
    border: 7px solid lightgray;
    border-radius: 15px;
    padding: 20px;
    text-align: justify;
    min-width: 300px; /* Tamaño mínimo para que ajuste en pantallas pequeñas */
}

/* Pie de página */
.pie-de-pagina {
    background-color: black;
    color: white;
    text-align: right;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
}
