/* Estilo general */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Cabecera */
.cabecera {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

/* Menú */
.menu {
    text-align: center;
    background-color: grey;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.menu a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

/* Contenedor */
.contenedor {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
}

/* Contenido lateral */
.contenido-lateral {
    margin-top: 50px;
    width: 20%; 
    border: 10px solid lightgray;
    border-radius: 10px;
    text-align: justify;
}

/* Contenido principal */
.contenido-principal {
    width: 50%; 
    height: 200px;
    background-color: white;
    padding: 20px;
    border: 10px solid lightgray;
    border-radius: 10px;
    text-align: justify;
}

/* Pie de página */
.pie-de-pagina {
    background-color: black;
    color: white;
    text-align: right;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}
