/* Cabecera */
.cabecera {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 20px;
    border-radius: 15px; /* Bordes redondeados */
}

/* Enlaces */
.enlaces {
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: grey;
    color: white;
    padding: 20px;
    border-radius: 15px; /* Bordes redondeados */
}

.enlaces a {
    text-decoration: none;
    color: white;
}

/* Estilo del contenedor */
.contenedor {
    display: flex;
    gap: 20px;
    margin: 20px;
    vertical-align: top; /* Alineación superior de los elementos */
}

/* Menú de navegación (nuevo) */
/* Menú de navegación */
.menu {
    width: 20%; /* 20% del ancho */
    background-color: lightgray;
    padding: 20px;
    margin-left: 80px; /* Margen izquierdo de 80px */
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    display: block;
    height: 200px; /* Ajusta esta altura según lo necesites */
    overflow-y: auto; /* Permite desplazarse si el contenido excede la altura */
}

/* Contenido principal */
.contenido-principal {
    width: 50%; /* 50% del ancho */
    padding: 20px 40px; /* 20px arriba y abajo, 40px izquierda y derecha */
    margin-left: 20px;
    background-color: white;
    border: 8px solid lightgray;
    border-radius: 15px;
    text-align: justify;
    display: block;
    height: 250px; 
    
}

/* Contenido lateral */
.contenido-lateral {
    width: 40%;
    padding: 20px 40px; 
    background-color: lightgray;
    border: 2px dotted black;
    border-radius: 15px;
    text-align: justify;
    display: block;
    height: 270px; 
    
}


.menu a {
    display: block; 
    text-decoration: none;
    color: black;
    padding: 10px;
    margin-bottom: 10px;
}





/* Pie de página */
.pie-de-pagina {
    color: white;
    background-color: black;
    text-align: right;
    padding: 20px 80px; /* Relleno derecho aumentado a 80px */
    margin: 20px;
    border-radius: 15px; /* Bordes redondeados */
}
