/* Estilo general */
body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 20px;
}

h3 {
    font-weight: bold;
    margin-bottom: 20px;
}

/* Estilo de la lista */
ul {
    list-style-type: none; /* Sin viñetas */
    padding: 0;
}

li {
    margin: 10px 0;
}

/* Estilo de los enlaces */
a {
    text-decoration: none; /* Sin subrayado */
    color: black;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Colores para los íconos */
a i.fa-google {
    color: red;
}

a i.fa-twitter {
    color: blue;
}

a i.fa-youtube {
    color: red;
}

a i.fa-facebook {
    color: blue;
}

/* Efecto hover */
a:hover {
    transform: scale(1.2); /* Aumenta tamaño de enlace */
    transition: transform 0.2s ease-in-out; /* Suaviza la transición */
}
