body{
    background-color: black;
    
}
h1{
background-color: gray;
text-align: center;
}

h2{
background-color: lightgray;
text-align: center;
}

p{
    color: white;
}
a{
    color: white;
}

ul{
    color: white;
}